<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129991735756-5ik9i2uptlns0iaepdld9iakh0q3gvee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129991735756-5ik9i2uptlns0iaepdld9iakh0q3gvee</string>
	<key>API_KEY</key>
	<string>AIzaSyBkDxGmhMA_I7zxSzk_KTzmDRUgfiy3oHI</string>
	<key>GCM_SENDER_ID</key>
	<string>129991735756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itsencrypted.sheqFlutter</string>
	<key>PROJECT_ID</key>
	<string>sheq-f505b</string>
	<key>STORAGE_BUCKET</key>
	<string>sheq-f505b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129991735756:ios:90e7f808ca7db403684569</string>
	<key>DATABASE_URL</key>
	<string>https://sheq-f505b.firebaseio.com</string>
</dict>
</plist>